<div class="modal " mat-dialog-content>
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box">
          <i class="material-icons">&#xE5CD;</i>
        </div>
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete these Employee? This process cannot be undone.</p>
      </div>
      <div class="modal-footer" mat-dialog-actions>
        <button class="btn btn-danger" mat-button [mat-dialog-close]="true">Yes</button>
        <button class="btn btn-info" mat-button mat-dialog-close>No</button>
      </div>
    </div>
  </div>
</div>